// SETA O MAX DO CONTAINER
.container{
	max-width: 100%;
}

// FOOTER FIXO COM DISPLAY FLEX
body{
	@include displayflex;
	@include directioncolumn;
	@include justifycenter;
	@include alignstretch;
	@include flexnowrap;
	min-height: 100vh;
}
main{
	@include flexgrow(1);
}

// limitar imagens aos seus container
img{max-width:100%;}

// SECTIONS
//////////////////////////////////////////////////////////
.section, section{
	width: 100%;
}

.section-full{
	width:100%;
	margin:0;
	padding:40px 0;
	float: left;
}

.blue-section{
	background: $ciano-blue;
}

.left{
	float: left;
}
.right{
	float: right;
}

.no-margin{
	margin: 0;
}

.content{
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
		margin: 0 0 20px;
	}

	p{
		margin: 0 0 20px;
	}
}

// MODAL
.modal{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: scroll;

	background: rgba(999, 999, 999, 0.8);
}

.modalcontainer{
    width: 550px;
    max-width: 90%;
    margin: 50px auto 0;
}

.modal-close{
	position: fixed;
    top: 20px;
    right: 20px;
    transform: rotate(-45deg);
    font-size: 4em;
    line-height: 0.5em;
    cursor: pointer;
}

// HEADER
//////////////////////////////////////////////////////////
.main-header{
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;

	.header-top{
		padding: 40px 0 20px;
		background: url(../images/padrao-topo.png) repeat;
	}

	.header-nav{
		background: #fff;
		padding: 15px;
	}

	.main-menu{
		li{
			display: inline-block;
			padding: 0 15px;
			border-left: 1px solid $main-blue;
			line-height: 0.9em;

			&:first-child{
				border-left: none;
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}

			&.active{
				a{
					color: #76aadb;
				}
			}

			li{
				border: none;
				padding: 0;

				a:hover{
					font-weight: 600;
				}
			}
		}

		a{
			color: $main-blue;
			text-transform: uppercase;
			font-family: 'sinkin_500', sans-serif;
			font-size: 11px;

			&:hover{
				color: #76aadb;
				text-decoration: none;
			}
		}
	}

	.info{
		text-align: right;
		margin-top: 20px;

		.redes,
		.contatos{
			display: inline;
		}

		.icon-fone{
			font-size: 20px;
		}

		a{
			color: $dark-blue;
		}

		.contatos{
			text-align: left;
		    display: inline-block;
		    width: 220px;
		    line-height: 1.2em;

			a{
				width: 230px;
			    display: inline-block;
			    padding: 0 10px;
			    text-align: left;
			    font-weight: 600;

			    &:before{
			    	font-size: 0.6em;
			    	margin: 0 5px 0 0;
			    }

			    &.icon-fone:before{
			    	font-size: 0.8em;
			    }
			}
		}

		.redes a{
			font-size: 1.8em;
			color: $ciano-blue;
			margin: 0 5px;

			&:hover{
				text-decoration: none;
				color: $main-blue;
			}
		}
	}

	@media screen and (max-width: 768px){
		.header-top{
			background: #fff;
		}

		.info{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9999;
			background: $main-blue;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 0;
		    height: 54px;

			a{
				color: #fff;
			}

			.contatos{
				width: auto;
				float: left;
				font-size: 0.9em;

				a{
					display: block;
					width: auto;
					padding: 0;
				}
			}

			.redes{
				font-size: 0.8em;

				a{
					margin: 0 2px;
				}
			}
		}

		.marca{
			position: absolute;
		    background: #fff;
		    padding-top: 10px;
		    padding-bottom: 10px;
		    top: 54px;
		    left: 0;
	        height: 50px;

			a{
				max-width: 150px;
			    display: block;
			    float: left;
			}
		}

		.header-nav{
			// display: none;
			position: fixed;
		    top: 0;
		    z-index: 99999;
		    width: 80%;
		    right: -80%;
		    height: 100%;
		    background: rgba(84, 172, 222, 1);

		    @include transition(right, .3s, ease);

		    &.menu-active{
		    	right: 0;
		    }
		}

		.main-menu{
			a{color:#fff}
			li{
				padding: 0;
				border: 0;
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}

// MENU DROPDOWN
.main-header .main-menu.dropmenu{
	li{
		position: relative;

		@media screen and (min-width: 992px){
			a{
				padding-bottom: 19px;
			}
			ul{
				position: absolute;
				top: 33px;
				left: 0;
				display: none;
				background: $ciano-blue;
				padding: 10px;

				li{
					margin: 5px 0;
					border: 0;

					a{
						color: #fff;
						padding-bottom: 0;
					}
				}
			}
		}
		@media screen and (max-width: 991px){
			.toggle-submenu{
				float: right;
			    width: 20px;
			    height: 10px;
			    position: absolute;
			    right: 0;
			    top: 0;

			    &:before{
			    	content: '';
			    	display: block;
			    	width: 0; 
					height: 0; 
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-top: 9px solid #fff;
			    }
			}

			ul{
				display: none;
				padding: 0 10px;
				margin-bottom: 0;

				li{
					margin: 5px 0;
					border: 0;

					li{
						margin: 0;
					}
				}
			}
		}
	}
}

.menu-toggle-mobile{
	float: right;
    width: 30px;
    height: 20px;
    border-top:4px solid $ciano-blue;
    position: relative;
    margin-top: 4px;

    &:before,
    &:after{
    	content: '';
    	width: 30px;
	    height: 4px;
	    background: $ciano-blue;
	    position: absolute;
	    left: 0;
	    top: 4px;
    }
    &:after{
	    top: 12px;
    }
}

// BANNER
.banner{
	position: relative;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;

	.banner-item{
		padding: 260px 0 330px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center
	}

	@media screen and (max-width: 991px){
		.banner-item{
			padding: 180px 0 140px;
		}
	}

	h1, .h1{
		font-style: italic;
	}

	a{
		color: $dark-blue;
	}

	.seta1{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 9;

		img{
			width: 100%;
			height: auto;
		}
	}
}

// SECTION DE PRODUTOS
//////////////////////////////////////////////////////////
.home .produtos-section{
	padding-bottom: 0;	

	.container{
		position: relative;

		&:before{
			content: '';
			position: absolute;
			z-index: 99;
			width: 621px;
			height: 767px;
			background: url(../images/entersec-produtos-sec.png) no-repeat center bottom;
			bottom: 0;
			left: -360px;
		}
	}

	.sec-block{
		width: 100%;
		display: inline-block;
	}

	.block-img,
	.block-text{
		float: left;
		width: 50%;
	}

	.produto-right{
		.block-img{
			float: right;
		}
		.block-text{
			text-align: right;
		}
	}

	h4, .h4{
		margin-top: 0;
	}

	@media screen and (min-width: 801px){
		.produto-1{
			img{
				margin-left: -40px;
			    width: 111%;
			    max-width: none;
			}
		}

		.produto-2{
			.block-text{
			    margin-top: 90px;
			}
		}

		.produto-3{
			margin-bottom: -105px;

			.block-text{
			    margin-top: 90px;
			}
			.block-img{
				text-align: right;
			}
		}

	}
}

@media screen and (max-width: 800px){
	.home .produtos-section{

		.container{
			&:before{
				display: none;
			}
		}

		.block-img,
		.block-text{
			width: 90%;
			margin: 0 5%;
		}

		.block-text{
			margin-bottom: 20px;
		}

		.produto-right{
			.block-img{
				float: left;
			}
			.block-text{
				text-align: left;
			}
		}

		.produto-3{
			img{
				width: 60%;
    			margin: 0 20%;
			}
		}
	}
}


// SECTION DE ECONOMIA DE ENERGIA
//////////////////////////////////////////////////////////
.economia-section{
	padding: 150px 0 0;
	margin-top: -150px;
	overflow-x: hidden;
	overflow-y: visible;

	.blue-section{
		padding: 150px 0 60px;
		width: 100%;
	}

	.men2{
		display: none;
	}

	@media screen and (min-width: 992px){
		.container{
			position: relative;
			
			.men2{
				display: block;
				width: 520px;
				height: 100%;
				position: absolute;
				z-index: 99;
				bottom: 0;
				right: -330px;
				background: url(../images/entersec-economize-sec.png) no-repeat center bottom;
				background-size: contain;
				margin-bottom: -60px;
			}
		}
	}
}

@media screen and (max-width: 800px){
	.economia-section{
		.blue-section{
			padding: 30px 0 40px;

			.chart-block{margin-bottom: 30px;}
		}
		.container{
			&:after{
				display: none;
			}
		}
	}
}

// SECTION ABOUT E SERVIÇOS
//////////////////////////////////////////////////////////
.about-home-section{
	@media screen and (max-width: 991px){
		.swiper-container{
			padding: 0 30px;
			position: relative;
			z-index: 99;
		}
	}

	@media screen and (min-width: 992px){
		.about-block{
			&:before{
				content: '';
				width: 1px;
				height: 320px;
				float: right;
				border-left: 1px solid $main-blue;
				margin: 0 50px;
			}
		}
	}
}

// SECTION DEPOIMENTOS E FORM
//////////////////////////////////////////////////////////
.depoimento-form-section{
	padding: 0;
	background: linear-gradient(
		to right, 
		$light-blue 0%, 
		$light-blue 45%, 
		$gray-blue 45%, 
		$gray-blue 100%
	);

	@media screen and (max-width: 991px){
		background: linear-gradient(
			to right, 
			$light-blue 0%, 
			$light-blue 50%, 
			$gray-blue 50%, 
			$gray-blue 100%
		);
	}

	.sec-block{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.depoimento-block{
		background: $light-blue;
		.depoiment-img{
			display: block;

			img{
				float: left;
				border-radius: 150px;
			}

			p{
				float: left;
				margin: 50px 0 0 30px;
			}

		}

		.depoimento-content{
			float: left;
			width: 100%;
			margin-top: 30px;

			p{font-weight: 600;}
		}
	}

	.form-block{
		background: $gray-blue;
	}
}

@media screen and (max-width: 991px){
	.depoimento-form-section .depoimento-block .depoiment-img img{
		max-width: 40%;
	}

	.depoimento-form-section .depoimento-block .depoiment-img p{
		max-width: 54%;
		margin: 22px 0 0 4%;
	}
}

// FOOTER
//////////////////////////////////////////////////////////
.footer{
	.footer-main{
		background: $main-blue;
		padding: 60px 0 30px;
	}

	.footer-info{
		margin-bottom: 30px;

		a, p{
			color: #fff;
			margin-bottom: 5px;
			padding-left: 20px;

			&:before{
				margin-left: -20px;
    			margin-right: 8px;
			}

			&.icon-fone:before{
				font-size: 0.8em;
			}
			&.icon-mail:before{
				font-size: 0.5em;
			}
			&.icon-home:before{
				font-size: 0.6em;
			}
		}

		@media screen and (max-width: 991px){
			.hora-funcionamento{
				padding-bottom: 30px;
   				border-bottom: 1px solid #fff;
		
				a, p{
					padding: 0;
				}
			}
		}
	}



	.footer-marca{
		margin-bottom: 20px;
	}

	.footer-bottom{
		background: $dark-blue;
		padding: 20px 0;

		a, p, div{
			color: #fff;
			font-size: #{14/$b-font-size}em;
		}

		@media screen and (max-width: 991px){
			.left, .right{
				width: 100%;
				text-align: center;
			}
		}
	}

	.footer-menu{
		column-count: 3;
		-moz-column-count: 3;
		-webkit-column-count: 3;

		@media screen and (max-width: 991px){
			column-count: 2;
		}

		li{
			margin-bottom: 20px;
			
			a{
				font-size: #{14/$b-font-size}em;
				color: $footer-menu-blue;
				text-transform: uppercase;
			}

			li{
				margin-bottom: 10px;;
				a{
					color: #fff;
					text-transform: none;
					font-weight: 600;
				}

				li{
					margin-bottom: 0;
					a{
						font-weight: 300;
					}
				}
			}
		}
	}
}


// PÁGINA INTERNA
//////////////////////////////////////////////////////////
.banner-interna{
	height: 360px;
	overflow: hidden;

	.banner-item{
		height: 360px;
	    width: 100%;
	    position: relative;
	    background-size: cover;
	}

	.seta1{
		position: absolute;
	    left: 0;
	    bottom: 0;
	    z-index: 9;
	    width: 100%;
	}

	img{
		width: 100%;
	}
}

@media screen and (max-width: 991px){
	.banner-interna{
		height: 104px;
	}
}

.botoes{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px 0;

	span{
		margin: 10px;
	}
}
// PRODUTOS SWIPER
.produtos-swipe{
	margin: 50px 0;

	.produto-thumb{
		float: left;
		width: 30%;
		margin-right: 1%;
	}
	.produto-desc{
		float: left;
		width: 69%;

		.h4{
			margin-bottom: 10px;
		}
	}

	@media screen and (max-width: 991px){
		.produto-thumb,
		.produto-desc{
			width: 100%;
			text-align: center;
			margin: 0;
		}

	}
}


.sec-single{
	@media screen and (max-width: 991px){
		.single-img{
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid $main-blue;
		}
	}

	.single-gallery{
		margin-bottom: 20px;
	}

	.gallery-image{
		width: 100%;
		margin-bottom: 10px;
	}

	.gallery-thumbs{
		width: 100%;

		.galery-item{
			width: 23%;
			margin: 0 1%;
			float: left;
			cursor: pointer;

			img{
				max-width: 100%;
			}
		}
	}
}
.descricao-produto{
	.h4{
		font-weight: 600;
	}

	ul{
		padding: 0;
	}

	li{
		padding: 5px 10px;
		margin: 0;
		list-style: none;

		&:nth-child(odd) {background: #ddd}
	}
}



iframe[name="google_conversion_frame"]{
	display:none;
}