// TÍTULOS E PARÁGRAFOS
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{

	font-family: $font-title;
	color: $dark-blue;
	text-transform: uppercase;
	line-height: 1.5em;

	span, strong, small{
		font: inherit;
		color: inherit;
		font-weight:normal;
	}
	strong{
		font-family: $font-title-bold;
	}
	small{
		font-size:0.5em;
		display: block;
	}
}

h4, .h4{
	font-family: sinkin_700;
}

article{
	.content{
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
			margin-top: 20px;
			font-family: 'sinkin_700';
		}
	}
}

// CORES DE TEXTO
.txt-preto{color: #000;}
.txt-branco{color: #fff;}
.txt-center{text-align:center;}
.txt-bold{font-weight: 600;}


h1, .h1{font-size: #{35/$b-font-size}em; margin: 0 0 30px;}
h2, .h2{font-size: #{30/$b-font-size}em; margin: 0 0 20px;}
h3, .h3{font-size: #{26/$b-font-size}em; margin: 0 0 20px;}
h4, .h4{font-size: #{22/$b-font-size}em; margin: 0 0 20px;}
h5, .h5{font-size: #{20/$b-font-size}em; margin: 0 0 20px;}
h6, .h6{font-size: #{18/$b-font-size}em; margin: 0 0 20px;}

@media screen and (max-width: 1300px){
	h1, .h1{font-size: #{35/$b-font-size}em;}
	h2, .h2{font-size: #{30/$b-font-size}em;}
	h3, .h3{font-size: #{21/$b-font-size}em;}
	h4, .h4{font-size: #{20/$b-font-size}em;}
	h5, .h5{font-size: #{18/$b-font-size}em;}
	h6, .h6{font-size: #{18/$b-font-size}em;}
}


@media screen and (max-width: 991px){
	h1, .h1{font-size: #{26/$b-font-size}em; margin: 0 0 30px;}
	h2, .h2{font-size: #{23/$b-font-size}em; margin: 0 0 20px;}
	h3, .h3{font-size: #{21/$b-font-size}em; margin: 0 0 20px;}
	h4, .h4{font-size: 0.85em; margin: 10px 0;}
	h5, .h5{font-size: #{18/$b-font-size}em; margin: 10px 0;}
	h6, .h6{font-size: #{18/$b-font-size}em; margin: 10px 0;}
}

p{
	font-family:$font-family-base;
	font-size: 1em;
	color:$main-blue;

	strong{
		font-weight:600;
	}
}

@media screen and (max-width: 991px){
	p{
		font-size: 1em;
	}
}

small{
	font-size: 80%;
}

// COR DOS LINKS
a{
	@include transition(color, .3s, ease);
	&:hover{

	}
}

.icon-seta{
	background: none;
	border: none;

	span{
		color: $dark-blue;
		font-weight: 600;
	    font-size: 1.3em;
	    @include transition(color, 0.3s, ease);
	}

	&:hover{
		text-decoration: none;

		span{
			color: $ciano-blue;
		}
	}
}

// RETIRA FORMATAÇÃO DAS ULs E LIs
.non-style-list{
	list-style: none;
	padding: 0;
	margin:0;

	ul{
		list-style: none;
		padding: 0;
		margin:0;
	}
	li{list-style: none;}
}

// GRUPO DE BOTÕES
[class^="btn-"], [class*="btn-"]{
	text-transform: uppercase;
	display:inline-block;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
	font-family: $font-size-base;
	@include transition(background, .3s, ease);
	// @include transition(color, .3s, ease);
}
.btn-s{
	font-size: #{16/$b-font-size}em;
	line-height: 1em;
	font-weight: 900;
	border-radius: 60px;
}
.btn-m{
	font-size: #{18/$b-font-size}em;
	line-height: 1em;
	font-weight: 700;
}

.btn-l{
	font-size: #{20/$b-font-size}em;
	line-height: 1em;
	font-family: $font-title-bold;
	width:490px;
	max-width: 90%;
	margin: 0 auto;
	padding: 30px 20px;
}
@media screen and (max-width: 991px){
	.btn-l{
		padding: 20px 10px;
		font-size: 0.9em;
	}
}

.btn-flat-green{
	background: $light-green;
	color: #fff;

	&:hover{
		background: $light-green-hover;
		color:#fff;
		text-decoration: none;
	}
}
.btn-flat-blue{
	background: $btn-blue;
	color: #fff;

	&:hover{
		background: $btn-blue-hover;
		color:#fff;
		text-decoration: none;
	}
}


// SECTIONS
.section{
	padding: 40px 0;

	.title-section{
		margin-bottom: 40px;

		p{
			color: $dark-blue;
		}

		&.title-center{
			text-align: center;

			p{
				width: 90%;
				max-width: 550px;
				margin: 0 auto;
			}
		}
	}
}

// SWIPER
.swiper-container{
	z-index: 999;
}
.swiper-container-horizontal{
	.swiper-pagination{
	    bottom: 60px;
	    left: 0;
	    width: 100%;
	    position: absolute;
	    z-index: 99999;
	    text-align: center;
	}
}

.swiper-arrow-container{
	margin: 0 30px;
}

.swiper-arrow{
	width: 25px;
	height: 25px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	z-index: 999;
	cursor: pointer;

	&.swiper-prev{
		left: 15px;
		transform: rotate(135deg);
	}
	&.swiper-next{
		right: 15px;
		transform: rotate(-45deg);
	}
	&.swiper-button-disabled{
		opacity: (0.6);
	}
}

// FORM
.page-form{
	form{
		padding:20px;
		background: #aecceb;
	}
}
form{
	.form-line{
		width: 100%;
		display: inline-block;
		margin-bottom: 10px;

		p{
			margin: 0;
		}

		.form-item{
			margin-top: 0;
		}
	}

	.form-item{
		width: 100%;
		margin: 10px 0;
		position: relative;
		@include displayflex;
		@include flexnowrap;

		select, input, button, textarea{
			width: 100%;
			display: inline-block;
			border: 0;
			margin: 0 5px;
			text-align: left;

			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
		select, input, textarea{
			padding: 10px;
			background: $light-blue;
		}
	}
}
