// ==========================================================================
// VARIABLES
// ==========================================================================

// BASE PARA FONTS
$b-font-size: 16;

// CORES
$main-blue: #181e4f;
$dark-blue: #06051F;
$ciano-blue: #76AADB;
$light-blue: #e2f5ff;
$gray-blue: #d8e5ec;
$footer-menu-blue: #a3e0ff;
$btn-blue: #8dd0f1;
$btn-blue-hover: #72b6d7;

$light-green: #90c59a;
$light-green-hover: #5b9a67;

// FONTS
$font-title: 'sinkin_400', sans-serif;
$font-title-bold: 'sinkin_800', sans-serif;
$font-family-sans-serif: 'Quattrocento Sans', sans-serif;
$font-family-serif: 'Quattrocento Sans', sans-serif;
$font-family-base: 'Quattrocento Sans', sans-serif;
$font-size-base: 16px;
$body-bg: #fff;



